body {
  background-color: grey;
}

.titulo {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.peliculasContenedor {
  display: flex;
  justify-content: center;

}

